.Home {
    text-align: center;
}

.Home-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h2 {
    margin-top: 10px;
}

.card:hover {
    transform: scale(1.05);
}
